/* body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right,
  rgba(200,8,207,0.75), rgba(28,70,184,0.8)),   url(./assets/musical-background_png.avif);
} */


/* Container */
.music-app {
  max-width: 400px;
  margin: 5px auto;
  padding: 20px;
  background: white;

  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.play-list{
  color: #0056b3;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px; 
  margin-top: 0px;
}

.songs-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.song-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.song-title {
  font-size: 16px;
  font-weight: bold;
  color: rgb(100, 12, 12);
  margin: 0;
}

.song-artist {
  font-size: 14px;
  color: #666;
  margin: 4px 0 0;
}

.play-button {
  background: #007bff;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.play-button:hover {
  background: #0056b3;
}

.play-button svg {
  width: 20px;
  height: 20px;
}